<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ProyectoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ProyectoCarolConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=ProyectoCarol;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ProyectoCarolConnectionString1"
            connectionString="Data Source=.;Initial Catalog=ProyectoCarol;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ProyectoVeterinariaConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=ProyectoVeterinaria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ProyectoVeterinariaConnectionString1"
            connectionString="Data Source=.;Initial Catalog=ProyectoVeterinaria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
